@font-face {/
    font-family: 'Comfortaa';
    src: url("../../../font/Comfortaa.ttf");
}

.font-style {
    -fx-font-family: "Comfortaa";
}

.home-style {
    -fx-background-image: url("../../../images/bg_designs/homebg.gif");
    -fx-background-size: 600 760;
}

.product-style {
    -fx-background-image: url("../../../images/bg_designs/homebg.gif");
    -fx-background-size: 600 760;
}

.thumbnail-style {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(235, 225, 213, 1), rgba(235, 225, 213,0.5));
}

.button{
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(235, 225, 213, 1), rgba(235, 225, 213,0.5));
}

.impt-button{
    -fx-background-color: rgba(209, 119, 76, 0.8)
}

.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}


